#errorMessage {color: red;}

#leaderText {
    white-space: pre-line;
}

#leaderScrollDiv {
    overflow-x: scroll;
    overflow-y: auto;}



table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #0c2a5b;
    color:#f5f5f5;}

th {
    background-color: #0d1b31ee;}

tr:hover {
    background-color: #f5f5f5;}
